<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
    <meta http-equiv="refresh" content="90">
    <meta name="description" content="Aree pubblico-sportive Cuneo">
    <meta name="keywords" content="sport, cuneo, impianti, area, comune">
    <meta name="author" content="ITIS Mario Delpozzo Cuneo">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

    <link rel="apple-touch-icon" sizes="76x76" href="../../../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../../../assets/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="../../../assets/css/main/material-kit.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../../assets/css/style.css">

    <!--Titolo pagina-->
    <title>NEVTRAL</title>
</head>

<body class="sidebar-collapse bgHome">
    <nav class="navbar navbar-expand-lg sticky-top" role="navigation-demo">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-translate">
                <a class="navbar-brand" href="#"><span class="myLogo">NEVTRAL</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="fas fa-home"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="fas fa-users"></i> Chi siamo</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="fas fa-sign-in-alt"></i> accedi</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link btn btn-danger text-white"><i class="fas fa-user-plus"></i> registrati</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>