<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
    <meta http-equiv="refresh" content="90">
    <meta name="description" content="Aree pubblico-sportive Cuneo">
    <meta name="keywords" content="sport, cuneo, impianti, area, comune">
    <meta name="author" content="ITIS Mario Delpozzo Cuneo">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

    <link rel="apple-touch-icon" sizes="76x76" href="../../../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../../../assets/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="../../../assets/css/main/material-kit.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../../assets/css/style.css">

    <!--Titolo pagina-->
    <title>NEVTRAL</title>
</head>

<body class="custom-body">
    <!--NAVBAR-->
    <nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg" color-on-scroll="100">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="#" style="letter-spacing: 6px;">NEVTRAL</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div id="my-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav text-center ml-auto">
                    <li class="nav-item mr-3">
                        <a class="nav-link custom-nav-link" href="#"><i class="fas fa-home mr-1"></i>HOME</a>
                    </li>
                    <li class="nav-item mr-3">
                        <a class="nav-link custom-nav-link" href="#"><i class="fas fa-layer-group mr-1"></i>IMPIANTI</a>
                    </li>
                    <li class="nav-item mr-3">
                        <a class="nav-link custom-nav-link" href="#"><i class="fas fa-users mr-1"></i>CHI SIAMO</a>
                    </li>
                    <li class="nav-item mr-3">
                        <a class="nav-link custom-nav-link" href="#"><i class="fas fa-sign-in-alt mr-1"></i>ACCEDI</a>
                    </li>
                    <form class="form-inline">
                        <button class="btn btn-danger btn-round mx-auto" type="button"
                            style="font-size: 14px; background-color: #FF4242;">REGISTRATI</button>
                    </form>
                </ul>
            </div>
        </div>
    </nav>
    <!--END-NAVBAR-->