<%- include('./partials/header')%>

<div class="page-header" data-parallax="true" style="transform: translate3d(0px, 0px, 0px);">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 ml-auto mr-auto">
                <h1 class="text-center text-white poppins">Your Story Starts Here.</h1>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
    <div class="container">
        <div class="section text-center">
            <h2>Cerca, Confronta, Recensisci, Prenota.</h2>
        </div>
    </div>
</div>

<%-include('./partials/footer')%>

</html>